*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;            /*Width includes padding and border*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
html, body{                            /* Makes page take full screen height */
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width:100%;
    background-color: white;
}

#nav{
    height: 100px;
    width: 100%;
    background-color: red;
    display: flex;                      /* Turns container into flex container, Makes items go in a row */
    align-items: center;                /*Controls vertical alignment (inside container height)*/
    justify-content: space-between;     /*Controls horizontal spacing*/
    padding: 0px 30px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}


#nav h1{
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 200;
}

#btn2{
    border: none;
    color: white;
    background-color: orangered;
}


#main>h1{                                  /*Select the h1 that is a direct child of #main, >(Direct child selector)*/
    font-size: 100px;
    text-transform: uppercase;             /*Makes text ALL CAPS*/
    position: absolute;                    /*Removes element from normal flow, Can place it anywhere*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);      /*Used for perfect center*/
    width: 100%;
    text-align: center;                    /* Used to center the text */
}

img{
    height: 400px;
    width: 300px;
    object-fit: cover;                      /*Image fills box without stretching*/
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}


#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}


#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}


#btm-left{
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 15px;
}

#btm-right{
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-size: 15px;
}

#social-icons{
    position: absolute;
    bottom: 7%;
    right: 2%;
}

#bottom-arrow{
    position: absolute;
    bottom: 3%;
    left: 50%;
}