*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


h1{
    color: rgb(255, 166, 0);
    background-color: black;
    font-size: 50px;
    font-family: sans-serif;
    font-weight:600;
}

#box{
    height: 40%;
    width: 20%;
    background-color: red;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-top: 100px;
}


#box2{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

#h1c{
    color: darkblue;
    background-color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}