*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#parent{
    height: 100%;
    width: 100%;
    background-color: rgb(120, 187, 209);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#child1{
    height: 200px;
    width: 200px;
    background-color: salmon;
}


#child2{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
}


#child3{
    height: 200px;
    width: 200px;
    background-color: royalblue;
}