body {
  background: #000;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
  padding: 40px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.inp {
  padding: 15px 20px;
  border-radius: 8px;
  outline: none;
  background: #111;
  color: #888;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
  justify-content: center;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.4);
}

.card:hover .bg-img {
  transform: scale(1.05);
  transition: 0.3s;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blurred-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0));
  z-index: 1;
}

.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 2;
}

.content h3 {
  font-size: 20px;
  font-weight: bold;
}

.content p {
  font-size: 14px;
  color: #ddd;
}

.warning {
  display: none;
  color: red;
  font-size: 20px;
}

.warning.show {
  display: block;
}