*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#child1{
    background-color: crimson;
    border: 2px solid white;
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;
}

#child2{
    background-color: lightseagreen;
    border: 2px solid white;
}

#child3{
    background-color: lightblue;
    border: 2px solid white;
}

#child4{
    background-color: goldenrod;
    border: 2px solid white;
}