*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 15px 30px;
    font-family: monospace;
}


.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
}

.nav1 img{
    height: 60px;
}

.nav2 h5{
    font-size: 20px;
    display: none;
}



@media (max-width:650px) {

    .nav2 h4{
        display: none;
    }

    .nav2 h5{
        display: block;
    }
}

